div.about {
	margin-top: 10px;
}

div.about.row {
	align-items: flex-start;
}

div.portrait {
	margin-bottom: 10px;
}

div.description p {
	margin: 1em auto;
	font-size: 18px;
	max-width: 850px;
}

h4 {
	font-size: 24px;
	margin: 0;
	text-transform: uppercase;
}

span.bold{
	font-weight: bold;
}


div.about-grid {
/*  	width: 100%;*/
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

div.about-grid img {
	margin: 2px;
	width: 49%;
	height: auto;
	max-width: 550px;
}

@media screen and (max-width: 800px) {

	div.about-grid {
		display: block;
	}

	div.about-grid img {
		width: 100%;
		max-width: none;
	}
}