div.about {
	margin-top: 10px;
}

div.about.row {
	align-items: flex-start;
}

div.portrait {
	margin-bottom: 10px;
}

div.description p {
	font-size: 18px;
}

h4 {
	font-size: 24px;
	margin: 0;
	text-transform: uppercase;
}

span.bold{
	font-weight: bold;
}


div.about-grid {
  	width: 100%;
}

div.about-grid img {
	width: 49%;
	height: auto;
}

@media screen and (max-width: 500px) {

	div.about-grid img {
		width: 100%;
	}
}