div.project_desc{
	margin: 25px auto;
	max-width: 750px;

}

.project_photo{
	width: 100%;
	max-width: 1000px;
	height: auto;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.desc_text{
	margin: 0 auto;
}

.tools{
	font-style: italic;
}

.project_desc a {
	text-decoration: underline;
}

.project_desc h5 {
	font-size: 24px;
	margin-bottom: 1rem;
}

.project_desc p {
	margin-bottom: 0.5rem;
}
