body {
	font-family: proxima-nova, sans-serif;
	background-color: #f2efed;
}

a {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

img{
	pointer-events: none;
}

div{
	margin: 0 auto;
}


div.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container-fluid {
	width: 95%;
	margin-top: 20px;
}


div.logo {
	flex: 1000;
	min-width: 315px;
	margin: 0 auto;
}

@media screen and (max-width: 518px) {
	div.logo {
		text-align: center;
	}
}

div.logo p {
	display: block;
	font-size: 16px;
	color: #555;
	margin-top: 0;
	margin-bottom: 0px
}


div.logo h1 {
	font-size: 36px;
	white-space: nowrap;
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: bold;
}


div.top {
	border-bottom: #ccc solid 1px;
	background-size: 100%;
	opacity: .75;
	padding-bottom: 3px;

}


div.navbar  {
	display: flex;
	list-style: none;
	align-items: center;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 2px;
	flex-grow: 1;
	justify-content: center;
	justify-self: center;
}

div.navbar a:first-child {
	padding-right: 10px;
	border-right: 1px solid #777;
}

div.navbar a:last-child {
	padding-left: 10px;
}

div.navbar a.selected {
	font-weight: bold;
}





@media screen and (max-width: 550px) {
    div.navbar {
    	margin-left: 0px;
    	
    }
}

div.portfolio-grid {
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (min-width: 1006px) {
    div.portfolio-grid {
    	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

@media screen and (min-width: 1250px) {
    div.portfolio-grid {
    	grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
	}
}

div.portfolio-grid.row {
	margin-top: 12.5px;
	align-items: stretch;
}

div.top.row {
	flex-wrap: wrap;
}

div.portfolio-grid a {
	position: relative;
	padding: 5px;
	aspect-ratio: 1;
}


@media screen and (max-width: 575px) {
    div.portfolio-grid a {
		margin: 0 auto;
	}
}


div.portfolio-grid h6 {
	font-size: .88rem;
	width: 85%;
	border-bottom: #ccc solid 1px;
	margin: 5px auto;
}

div.portfolio-grid img {
	 width:100%;
	 height:100%;
	 object-fit: cover;
	 display: block;
	 box-shadow: 3px 3px 3px #aaa;
}


div.portfolio-grid span {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}


.popup{
	 text-align: center;
	 pointer-events: none;
	 opacity: 0;
	 background-color: rgba(0,0,0,.7);
	 position: absolute;
	 bottom: 1%;
	 left: 1.5%;
	 width: 97%;
}

div.popup#pop p{
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	height: auto;
	color: white;
	margin: auto auto;
	overflow: auto;
}

/*div.popup#pop p:first-of-type{
	border-bottom: #fff solid 1px;
}*/

div.footer {
width: auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 25px;
margin-bottom: 12.5px;
}


.fa {
    padding: 0px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #000;
    color: white;
}

.fa-linkedin {
    background: #000;
    color: white;
}

.hiddenClass {
  transition: opacity 0.5s ease;
  opacity: 0.0;
}

.visibleClass {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}

div.attribution{
	margin: 0 auto;
	text-align: center;
	opacity: .5;
	margin-bottom: 15px;
}
